:root {
    --mainBlue: #2a2a72;
    --lightBlue: #009ffd;
    --mainWhite: #f3f3f3;
    --mainDark: #232528;
    --mainYellow: #ffa400
}

body {
    font-family: "Oswald", sans-serif !important;
    background: var(--mainWhite) !important;
    color: var(--mainDark) !important;
}

.text-title {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.text-blue {
    color: var(--mainBlue) !important;;
}

.btn-block {
    background: transparent;
    text-transform: capitalize;
    font-size: 0.8rem;
    color: var(--mainDark);
    border-radius: 0rem !important;
    border: 0.1rem solid black;
}
.btn-block:hover {
    cursor: pointer;
    background-color: var(--mainDark) !important;
    color: var(--mainWhite) !important;
}